@font-face {
  font-family: 'ClearSans';
  src: url("../fonts/ClearSans-Medium.ttf") format("truetype"); }
html {
  font-size: 62.5rem; }

body {
  font-family: "ClearSans", helvetica, sans-serif;
  font-size: 14px;
  background-color: #f4f4f4; }

* {
  margin: 0;
  padding: 0; }

div.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 75%; }

header {
  height: 25%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  header .top_content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0.8em;
    width: 100%; }
    header .top_content h1 {
      font-size: 5em;
      line-height: 0.9;
      color: #353950; }
    header .top_content .score_win {
      display: flex; }
      header .top_content .score_win p {
        font-size: 0.9em;
        text-transform: uppercase;
        width: 100px;
        padding: 7px 0;
        background-color: #353950;
        color: #8b8f9c;
        border-radius: 5px;
        text-align: center;
        position: relative; }
        header .top_content .score_win p span {
          display: block;
          font-size: 1.5em;
          font-weight: bold;
          color: #FFF; }
          header .top_content .score_win p span.current_win {
            display: none;
            position: absolute;
            opacity: 0.8;
            top: 20px;
            right: 10px;
            font-size: 1.15em; }
      header .top_content .score_win p + p {
        margin-left: 10px; }
  header button.start {
    width: 210px;
    height: 45px;
    background-color: #d90e0f;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: bold;
    color: #FFF;
    margin-left: auto;
    transition: color 200ms linear, background-color 200ms ease-in; }
    header button.start:focus {
      outline: none; }
    header button.start:hover {
      background-color: #c60d0e;
      cursor: pointer; }
  header .maps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 18px; }
    header .maps button {
      width: 80px;
      height: 35px;
      background-color: #e1e1e4;
      border: 1px solid #eaeaea;
      border-radius: 4px;
      font-size: 1.1em;
      font-weight: bold;
      color: #a4a4ab;
      transition: color 200ms linear, background-color 200ms ease-in; }
      header .maps button:focus {
        outline: none; }
      header .maps button:hover {
        color: #898993;
        background-color: #e9e9eb;
        cursor: pointer; }
      header .maps button.active {
        background-color: white;
        color: #898993; }

section.background {
  position: relative;
  background-color: #e1e1e4;
  padding: 5px;
  display: flex;
  flex-wrap: wrap; }
  section.background[nbcol='1'] > div {
    width: calc((100% - (1*2)*5px)/1);
    height: calc((100% - (1*2)*5px)/1);
    margin: 5px;
    border-radius: 5px;
    background-color: #FFF; }
  section.background[nbcol='1'] section.active_items > div {
    width: calc((100% - (1*2)*5px)/1);
    height: calc((100% - (1*2)*5px)/1); }
    section.background[nbcol='1'] section.active_items > div[posx="1"][posy="1"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
  section.background[nbcol='2'] > div {
    width: calc((100% - (2*2)*5px)/2);
    height: calc((100% - (2*2)*5px)/2);
    margin: 5px;
    border-radius: 5px;
    background-color: #FFF; }
  section.background[nbcol='2'] section.active_items > div {
    width: calc((100% - (2*2)*5px)/2);
    height: calc((100% - (2*2)*5px)/2); }
    section.background[nbcol='2'] section.active_items > div[posx="1"][posy="1"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='2'] section.active_items > div[posx="1"][posy="2"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='2'] section.active_items > div[posx="2"][posy="1"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='2'] section.active_items > div[posx="2"][posy="2"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
  section.background[nbcol='3'] > div {
    width: calc((100% - (3*2)*5px)/3);
    height: calc((100% - (3*2)*5px)/3);
    margin: 5px;
    border-radius: 5px;
    background-color: #FFF; }
  section.background[nbcol='3'] section.active_items > div {
    width: calc((100% - (3*2)*5px)/3);
    height: calc((100% - (3*2)*5px)/3); }
    section.background[nbcol='3'] section.active_items > div[posx="1"][posy="1"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='3'] section.active_items > div[posx="1"][posy="2"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='3'] section.active_items > div[posx="1"][posy="3"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
    section.background[nbcol='3'] section.active_items > div[posx="2"][posy="1"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='3'] section.active_items > div[posx="2"][posy="2"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='3'] section.active_items > div[posx="2"][posy="3"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
    section.background[nbcol='3'] section.active_items > div[posx="3"][posy="1"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='3'] section.active_items > div[posx="3"][posy="2"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='3'] section.active_items > div[posx="3"][posy="3"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
  section.background[nbcol='4'] > div {
    width: calc((100% - (4*2)*5px)/4);
    height: calc((100% - (4*2)*5px)/4);
    margin: 5px;
    border-radius: 5px;
    background-color: #FFF; }
  section.background[nbcol='4'] section.active_items > div {
    width: calc((100% - (4*2)*5px)/4);
    height: calc((100% - (4*2)*5px)/4); }
    section.background[nbcol='4'] section.active_items > div[posx="1"][posy="1"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='4'] section.active_items > div[posx="1"][posy="2"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='4'] section.active_items > div[posx="1"][posy="3"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
    section.background[nbcol='4'] section.active_items > div[posx="1"][posy="4"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*4 - 100%) + (4 - 1)*2*5px)); }
    section.background[nbcol='4'] section.active_items > div[posx="2"][posy="1"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='4'] section.active_items > div[posx="2"][posy="2"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='4'] section.active_items > div[posx="2"][posy="3"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
    section.background[nbcol='4'] section.active_items > div[posx="2"][posy="4"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*4 - 100%) + (4 - 1)*2*5px)); }
    section.background[nbcol='4'] section.active_items > div[posx="3"][posy="1"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='4'] section.active_items > div[posx="3"][posy="2"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='4'] section.active_items > div[posx="3"][posy="3"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
    section.background[nbcol='4'] section.active_items > div[posx="3"][posy="4"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*4 - 100%) + (4 - 1)*2*5px)); }
    section.background[nbcol='4'] section.active_items > div[posx="4"][posy="1"] {
      transform: translate(calc((100%*4 - 100%) + (4 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='4'] section.active_items > div[posx="4"][posy="2"] {
      transform: translate(calc((100%*4 - 100%) + (4 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='4'] section.active_items > div[posx="4"][posy="3"] {
      transform: translate(calc((100%*4 - 100%) + (4 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
    section.background[nbcol='4'] section.active_items > div[posx="4"][posy="4"] {
      transform: translate(calc((100%*4 - 100%) + (4 - 1)*2*5px), calc((100%*4 - 100%) + (4 - 1)*2*5px)); }
  section.background[nbcol='5'] > div {
    width: calc((100% - (5*2)*5px)/5);
    height: calc((100% - (5*2)*5px)/5);
    margin: 5px;
    border-radius: 5px;
    background-color: #FFF; }
  section.background[nbcol='5'] section.active_items > div {
    width: calc((100% - (5*2)*5px)/5);
    height: calc((100% - (5*2)*5px)/5); }
    section.background[nbcol='5'] section.active_items > div[posx="1"][posy="1"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="1"][posy="2"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="1"][posy="3"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="1"][posy="4"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*4 - 100%) + (4 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="1"][posy="5"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*5 - 100%) + (5 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="2"][posy="1"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="2"][posy="2"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="2"][posy="3"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="2"][posy="4"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*4 - 100%) + (4 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="2"][posy="5"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*5 - 100%) + (5 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="3"][posy="1"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="3"][posy="2"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="3"][posy="3"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="3"][posy="4"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*4 - 100%) + (4 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="3"][posy="5"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*5 - 100%) + (5 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="4"][posy="1"] {
      transform: translate(calc((100%*4 - 100%) + (4 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="4"][posy="2"] {
      transform: translate(calc((100%*4 - 100%) + (4 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="4"][posy="3"] {
      transform: translate(calc((100%*4 - 100%) + (4 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="4"][posy="4"] {
      transform: translate(calc((100%*4 - 100%) + (4 - 1)*2*5px), calc((100%*4 - 100%) + (4 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="4"][posy="5"] {
      transform: translate(calc((100%*4 - 100%) + (4 - 1)*2*5px), calc((100%*5 - 100%) + (5 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="5"][posy="1"] {
      transform: translate(calc((100%*5 - 100%) + (5 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="5"][posy="2"] {
      transform: translate(calc((100%*5 - 100%) + (5 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="5"][posy="3"] {
      transform: translate(calc((100%*5 - 100%) + (5 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="5"][posy="4"] {
      transform: translate(calc((100%*5 - 100%) + (5 - 1)*2*5px), calc((100%*4 - 100%) + (4 - 1)*2*5px)); }
    section.background[nbcol='5'] section.active_items > div[posx="5"][posy="5"] {
      transform: translate(calc((100%*5 - 100%) + (5 - 1)*2*5px), calc((100%*5 - 100%) + (5 - 1)*2*5px)); }
  section.background[nbcol='6'] > div {
    width: calc((100% - (6*2)*5px)/6);
    height: calc((100% - (6*2)*5px)/6);
    margin: 5px;
    border-radius: 5px;
    background-color: #FFF; }
  section.background[nbcol='6'] section.active_items > div {
    width: calc((100% - (6*2)*5px)/6);
    height: calc((100% - (6*2)*5px)/6); }
    section.background[nbcol='6'] section.active_items > div[posx="1"][posy="1"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="1"][posy="2"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="1"][posy="3"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="1"][posy="4"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*4 - 100%) + (4 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="1"][posy="5"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*5 - 100%) + (5 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="1"][posy="6"] {
      transform: translate(calc((100%*1 - 100%) + (1 - 1)*2*5px), calc((100%*6 - 100%) + (6 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="2"][posy="1"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="2"][posy="2"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="2"][posy="3"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="2"][posy="4"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*4 - 100%) + (4 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="2"][posy="5"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*5 - 100%) + (5 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="2"][posy="6"] {
      transform: translate(calc((100%*2 - 100%) + (2 - 1)*2*5px), calc((100%*6 - 100%) + (6 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="3"][posy="1"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="3"][posy="2"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="3"][posy="3"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="3"][posy="4"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*4 - 100%) + (4 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="3"][posy="5"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*5 - 100%) + (5 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="3"][posy="6"] {
      transform: translate(calc((100%*3 - 100%) + (3 - 1)*2*5px), calc((100%*6 - 100%) + (6 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="4"][posy="1"] {
      transform: translate(calc((100%*4 - 100%) + (4 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="4"][posy="2"] {
      transform: translate(calc((100%*4 - 100%) + (4 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="4"][posy="3"] {
      transform: translate(calc((100%*4 - 100%) + (4 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="4"][posy="4"] {
      transform: translate(calc((100%*4 - 100%) + (4 - 1)*2*5px), calc((100%*4 - 100%) + (4 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="4"][posy="5"] {
      transform: translate(calc((100%*4 - 100%) + (4 - 1)*2*5px), calc((100%*5 - 100%) + (5 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="4"][posy="6"] {
      transform: translate(calc((100%*4 - 100%) + (4 - 1)*2*5px), calc((100%*6 - 100%) + (6 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="5"][posy="1"] {
      transform: translate(calc((100%*5 - 100%) + (5 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="5"][posy="2"] {
      transform: translate(calc((100%*5 - 100%) + (5 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="5"][posy="3"] {
      transform: translate(calc((100%*5 - 100%) + (5 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="5"][posy="4"] {
      transform: translate(calc((100%*5 - 100%) + (5 - 1)*2*5px), calc((100%*4 - 100%) + (4 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="5"][posy="5"] {
      transform: translate(calc((100%*5 - 100%) + (5 - 1)*2*5px), calc((100%*5 - 100%) + (5 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="5"][posy="6"] {
      transform: translate(calc((100%*5 - 100%) + (5 - 1)*2*5px), calc((100%*6 - 100%) + (6 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="6"][posy="1"] {
      transform: translate(calc((100%*6 - 100%) + (6 - 1)*2*5px), calc((100%*1 - 100%) + (1 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="6"][posy="2"] {
      transform: translate(calc((100%*6 - 100%) + (6 - 1)*2*5px), calc((100%*2 - 100%) + (2 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="6"][posy="3"] {
      transform: translate(calc((100%*6 - 100%) + (6 - 1)*2*5px), calc((100%*3 - 100%) + (3 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="6"][posy="4"] {
      transform: translate(calc((100%*6 - 100%) + (6 - 1)*2*5px), calc((100%*4 - 100%) + (4 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="6"][posy="5"] {
      transform: translate(calc((100%*6 - 100%) + (6 - 1)*2*5px), calc((100%*5 - 100%) + (5 - 1)*2*5px)); }
    section.background[nbcol='6'] section.active_items > div[posx="6"][posy="6"] {
      transform: translate(calc((100%*6 - 100%) + (6 - 1)*2*5px), calc((100%*6 - 100%) + (6 - 1)*2*5px)); }
  section.background section.active_items {
    position: absolute;
    width: calc(100% - 2*5px);
    height: calc(100% - 2*5px); }
    section.background section.active_items > div {
      margin: 5px;
      background-color: #FFF;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 0;
      border-radius: 5px; }
      section.background section.active_items > div > div {
        width: 0%;
        height: 0%;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center; }
      section.background section.active_items > div[value].grow {
        transition: transform 150ms linear;
        display: flex;
        z-index: 2; }
        section.background section.active_items > div[value].grow > div {
          transition: width 150ms ease, height 150ms ease;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 25px;
          color: white;
          font-family: sans-serif;
          border-radius: 5px;
          font-family: "ClearSans", helvetica, sans-serif;
          font-size: 3em;
          line-height: 1.1; }
      section.background section.active_items > div[smaller_font].grow > div {
        font-size: 2.2em; }
      section.background section.active_items > div[value='2'] {
        z-index: 1; }
        section.background section.active_items > div[value='2'] > div {
          background-color: #d90e0f; }
      section.background section.active_items > div[value='4'] {
        z-index: 2; }
        section.background section.active_items > div[value='4'] > div {
          background-color: rgba(47, 55, 153, 0.65); }
      section.background section.active_items > div[value='8'] {
        z-index: 3; }
        section.background section.active_items > div[value='8'] > div {
          background-color: #2f369a; }
      section.background section.active_items > div[value='16'] {
        z-index: 4; }
        section.background section.active_items > div[value='16'] > div {
          background-color: #353950; }
      section.background section.active_items > div[value='32'] {
        z-index: 5; }
        section.background section.active_items > div[value='32'] > div {
          background-color: #06ef99; }
      section.background section.active_items > div[value='64'] {
        z-index: 6; }
        section.background section.active_items > div[value='64'] > div {
          background-color: #ffa6a7; }
      section.background section.active_items > div[value='128'] {
        z-index: 7; }
        section.background section.active_items > div[value='128'] > div {
          background-color: #a93173; }
      section.background section.active_items > div[value='256'] {
        z-index: 8; }
        section.background section.active_items > div[value='256'] > div {
          background-color: #34bd9e; }
      section.background section.active_items > div[value='512'] {
        z-index: 9; }
        section.background section.active_items > div[value='512'] > div {
          background-color: #afd636; }
      section.background section.active_items > div[value='1024'] {
        z-index: 10; }
        section.background section.active_items > div[value='1024'] > div {
          background-color: #2af5b4; }
      section.background section.active_items > div[value='2048'] {
        z-index: 11; }
        section.background section.active_items > div[value='2048'] > div {
          background-color: #afd636; }
      section.background section.active_items > div[value='4096'] {
        z-index: 12; }
        section.background section.active_items > div[value='4096'] > div {
          background-color: #afd636; }
  section.background section.results {
    display: none; }
    section.background section.results > div.win, section.background section.results > div.loose {
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(244, 244, 244, 0.6);
      z-index: 100;
      top: 0;
      left: 0;
      font-size: 2em;
      color: #d90e0f; }
      section.background section.results > div.win button, section.background section.results > div.loose button {
        margin-top: 27px;
        width: 125px;
        height: 35px;
        background-color: #d90e0f;
        border: 1px solid #d90e0f;
        border-radius: 4px;
        font-size: 1.1em;
        font-weight: bold;
        color: #FFF;
        transition: color 200ms linear, background-color 200ms ease-in;
        font-size: 0.6em; }
    section.background section.results > div[win="1"].win {
      display: flex; }
    section.background section.results > div[win="0"].loose {
      display: flex; }

/*# sourceMappingURL=index.css.map */
